
.row img {
	max-width: 33%;
}

small{
	font-size: 100%;
}

.logo{
	margin:25px;
	width: 15%;
	height: 15%;

}

.site-title{
	text-align: center;
	margin-top: 70px;
}

.banner, 
.main,
.form-inline{
	margin-left: 37%
}

.banner img{
	max-width: 100%;

}

.main h2{
	text-align: center;
}
.form{
	display: block;
}

.next{
	text-align: center;
}

.btn {
	margin-top: 60px;
}

/*	====================
		POSITIONING
  	==================== */

 .left-column {
 	background-image: url(..img1.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*background: url(..img1.jpeg) center center cover no-repeat fixed;*/
 }





