/** {
	outline: 2px solid red;
}
*/
/*@import url("reset.css");*/

/*	====================
			GENERAL
  	==================== */
body {
	height: 100% !important;
}


.valign-wrapper {
	margin-top: 30px;
}

.logo{
	margin: 0 auto;
	width: 35%;
}


/*	====================
			POSITIONING
  	==================== */

.flexbox-container {
	display: flex;
}  	



.column1, .column2 {
	padding: 1em;
	height: 100vh;
	min-height: 100%;
	float: left;
}

.column1 {
	flex: 1;
	width: 50%;
	background-image: url(../img/hero1.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.column2 {
	flex: 1;
	width: 50%;
	background-color: white;
}

.center-btn {
	margin-top: 40px;
	text-align: center;
}

 /*	====================
		FONTS
  	==================== */
.title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
}

.titleH1 {
	color: #ecf0f1;
	font-size: 250%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
}

.main-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	/*font-variant: small-caps;*/
}

 /*	====================
		EXTRA STYLING
  	==================== */

.mavrck-gold {
	color: #ffb300;
}
.mavrck-black{
	color: #1f1f1f;
}

.collapsible-body {
	background-color: #ffb300;
}

.collapsible-header{
	padding: 10px;
}

.collapsible img:first-of-type {
	width: 40px;
	float: right;
}


.color-test1 {
	background-color: #ecf0f1;
}

.inner-text {
	color: #34495e;
}

.btn {
	background-color: #ffb300;
}

.btn:hover {
	background-color: #1f1f1f;
}

.btn2 {
	background-color: #1f1f1f;
}

.btn2:hover {
	background-color: #1f1f1f;
}


.input-field label, input {
	color:  #1f1f1f;
}

.page-footer {
	background-color: #ffb300 !important;
	z-index: 10;
	position: relative;
}

.input-field {
	outline: 1px solid #9e9e9e;
}

/* label focus color */
 .input-field input:focus + label {
   color: #ffb300 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #ffb300 !important;
   box-shadow: 0 1px 0 0 #ffb300 !important
 }

 /* form index.page */
 /* label focus color */
 input[type=text]:focus{
 border-bottom: 1px solid #ffb300 !important;
 box-shadow: 0 1px 0 0 #ffb300 !important;
 }

 input[type=email]:focus{
 border-bottom: 1px solid #ffb300 !important;
 box-shadow: 0 1px 0 0 #ffb300 !important;
 }

/*	====================
		JS HELPER
	 ==================== */
/*#influencer-panel {
		 display: none;
}

.hide-class {
		 display: none;
}*/



/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 480px) {

	.column1 {
		display: none;
	}

	.column2 {
		width: 100%;
	}
}	

	
